html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/** Map **/
gmp-map {
  flex-grow: 1;
  height: 100%;
}

.ui-header {
  position: absolute;
  top: 10px;
  z-index: 1;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 46%;
}

.header {
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

button.set-my-location {
  color: white;
  background-color: #1a73e8;
  left: 0;
}

button.search-places {
  color: #fff;
  background-color: #00674f;
  right: 0;
}

.panel-top {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  background: white;
  width: 100%;
  display: none;
}

.panel-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.panel-cols {
  flex-flow: column;
}

.panel-row {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.set-radius {
  width: 80px;
}

.panel-top select {
  padding: 8px;
  cursor: pointer;
  height: 40px;
  background: #eee;
  color: #000;
}

.panel-top input[type="button"] {
  padding: 8px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  height: 40px;
  background-color: #1a73e8;
  color: #fff;
}

.radius-control {
  width: 25%;
}
.panel-top input[value="Clear"] {
  background: #eee;
  color: #000;
}

.panel-top input[type="text"] {
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
}

.panel-top input[value="Search Places"] {
  color: #fff;
  background-color: #00674f;
  width: 95%;
}

.you-tag,
.other-tag {
  background-color: red;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  transform: translateY(-8px);
}

.other-tag::after,
.you-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid red;
}

.other-tag {
  background-color: black;
}

.other-tag::after {
  border-top: 8px solid black;
}
.you-tag {
  background-color: blue;
}

.you-tag::after {
  border-top: 8px solid blue;
}
